.ice-cream-container{
    display: flex;
    flex-direction: row;
    justify-content:start;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid black;
    gap: 100px;
    align-items: center;


}
.ice-cream-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.ice-cream-images-container{
    width: 100px;
    height: 100px;
}
.ice-cream-name{
    font-weight: 800;
    width: 100%;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .minus, .plus {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .minus:hover, .plus:hover {
    background-color: #3e8e41;
  }
  
  .count {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
  }
  .submit-button{
    background-color: #4CAF50;
    text-align: center;
    width: 300px;
  }
  .submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.total-value{
    font-weight: 800;
}
.additional-input-container {
  margin: 15px 0; /* Space above and below the input container */
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  }

.additional-input-container label {
  display: block; /* Make the label take full width */
  margin-bottom: 5px; /* Space between label and input */
  font-weight: bold; /* Make the label bold */
  font-size: 3rem;
}

.additional-input {
  padding: 10px; /* Padding for better touch targets */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  font-size: 2rem; /* Font size for readability */
}

.additional-input:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add subtle shadow */
}
.formatted-date{
  font-size: 2.5rem;
}